@charset "UTF-8";

body {
	font-family: BIZ UDPゴシック;
	background-color:  #98fb98;
	text-align: center;
}

h1 {
	font-size: 32px;
	color: green;
}

h2 {
	font-size: 28px;
	background-color: green;
	color: white;
}

hr {
	border: 0;
	border-top: 1px solid #8fbc8f;
}

.error-msg {
	color: red;
}

table {
	border: 1px solid #5e696c;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	border-collapse: collapse;
}

th {
	border: 1px solid #5e696c;
	text-align: center;
	background-color: #3cd371;
	height: 32px;
}

td {
	border: 1px solid #5e696c;
	text-align: center;
	height: 24px;
}

.select-list {
	background-color: #eee8aa;
}
.cart-list {
	background-color: #afeeee;
}
.pay-list {
	background-color: #ffe4e1;
}